<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/img/POLO52BLANCO.png" alt="Polo 52 Logo" />
      </div>
  
      <div class="footer-section">
        <h4>Contacto</h4>
        <p>3517 31-3944</p>
        <p>ventas&#64;polo52.com.ar</p>
      </div>
  
      <div class="footer-section">
        <h4>Nuestras redes</h4>
        <ul class="redes-list">
          <li><a href="#" target="_blank" rel="noopener">Facebook</a></li>
          <li><a href="#" target="_blank" rel="noopener">Instagram</a></li>
          <li><a href="#" target="_blank" rel="noopener">LinkedIn</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>¿Dónde estamos?</h4>
        <p>Av. la Voz del Interior 8851 - Edificio Miralejos</p>
        <p>2° Piso. Parque Empresarial Aeropuerto</p>
      </div>
  
      <div class="footer-section">
        <h4>Plataforma</h4>
        <a href="#">Ingresar</a>
      </div>
    </div>
  </footer>
  