<div class="login-wrapper">
    <div class="login-left">
      <img src="assets/img/sign-in-bg.jpg" alt="Imagen login" />
    </div>
  
    <div class="login-right">
      <a routerLink="/">
        <img src="assets/img/POLO52ROJO.png" alt="Polo 52" class="logo" />
      </a>
      <h2>Nice to see you again</h2>
  
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <input formControlName="email" type="email" placeholder="Email or phone number" />
        <input formControlName="password" type="password" placeholder="Enter password" />
  
        <div class="options">
          <label><input type="checkbox" formControlName="remember" /> Remember me</label>
          <a href="#">Forgot password?</a>
        </div>

        <!-- Mostrar mensaje de error si existe -->
        <div *ngIf="errorMessage" style="color: #b72c2c; text-align: center; margin: 10px 0; font-size: 14px; font-weight: 600;">
          {{ errorMessage }}
        </div>
  
        <button type="submit" [disabled]="!loginForm.valid || loading">
          {{ loading ? 'Iniciando sesión...' : 'Iniciar sesión' }}
        </button>
  
        <div class="google-login" (click)="loginWithGoogle()">
          <img src="assets/icons/google.png" alt="Google" />
          Or sign in with Google
        </div>
  
        <p class="signup">
          Don't have an account?
          <a routerLink="/user-config">Sign up now</a>
        </p>
      </form>
    </div>
  </div>