<div class="login-wrapper">
    <div class="login-left">
      <img src="assets/img/sign-in-bg.jpg" alt="Imagen registro" />
    </div>
  
    <div class="login-right">
      <a routerLink="/">
        <img src="assets/img/POLO52ROJO.png" alt="Polo 52" class="logo" />
      </a>
      <h2>Get Started Now</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input formControlName="name" type="text" placeholder="Name" />
        <input formControlName="email" type="email" placeholder="Email or phone number" />
        <input formControlName="password" type="password" placeholder="Enter password" />
  
        <div class="options">
          <label>
            <input type="checkbox" formControlName="terms" />
            I agree to the terms & policy
          </label>
        </div>
  
        <button type="submit">Register</button>
  
        <div class="google-login" (click)="registerWithGoogle()">
          <img src="assets/icons/google.png" alt="Google" />
          Or sign in with Google
        </div>
  
        <p class="signup">
          Already have an account?
          <a routerLink="/login">Sign in</a>
        </p>
      </form>
    </div>
  </div>
  