name: Deploy

on:
  push:
    branches:
      - main

env:
  GCP_PROJECT_ID: final-ingsoft3-2025-480515
  GCP_REGION: us-central1

jobs:
  deploy-qa:
    name: Deploy to QA
    runs-on: ubuntu-latest
    environment:
      name: qa

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Authenticate with gcloud
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > /tmp/gcp-key.json
          gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
          gcloud config set project ${{ env.GCP_PROJECT_ID }}

      - name: Build and Deploy UserAPI QA
        run: |
          cd APIs/UserAPI
          gcloud builds submit --tag gcr.io/${{ env.GCP_PROJECT_ID }}/userapi:latest --gcs-log-dir=gs://${{ env.GCP_PROJECT_ID }}_cloudbuild/logs
          gcloud run deploy userapi-qa --image gcr.io/${{ env.GCP_PROJECT_ID }}/userapi:latest --region ${{ env.GCP_REGION }} --platform managed --allow-unauthenticated --add-cloudsql-instances ${{ env.GCP_PROJECT_ID }}:${{ env.GCP_REGION }}:userapi-db --set-secrets DATABASE_URL=DATABASE_URL:latest,SECRET_KEY=SECRET_KEY:latest,EMAIL_USER=EMAIL_USER:latest,EMAIL_PASSWORD=EMAIL_PASSWORD:latest,INTERNAL_SERVICE_API_KEY=INTERNAL_SERVICE_API_KEY:latest,ACCESS_TOKEN_EXPIRE_MINUTES=ACCESS_TOKEN_EXPIRE_MINUTES:latest,ALGORITHM=ALGORITHM:latest --service-account userapi-service-account@${{ env.GCP_PROJECT_ID }}.iam.gserviceaccount.com

  deploy-production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: deploy-qa
    environment:
      name: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Authenticate with gcloud
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > /tmp/gcp-key.json
          gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
          gcloud config set project ${{ env.GCP_PROJECT_ID }}

      - name: Deploy UserAPI Production
        run: |
          gcloud run deploy userapi --image gcr.io/${{ env.GCP_PROJECT_ID }}/userapi:latest --region ${{ env.GCP_REGION }} --platform managed --allow-unauthenticated --add-cloudsql-instances ${{ env.GCP_PROJECT_ID }}:${{ env.GCP_REGION }}:userapi-db --set-secrets DATABASE_URL=DATABASE_URL:latest,SECRET_KEY=SECRET_KEY:latest,EMAIL_USER=EMAIL_USER:latest,EMAIL_PASSWORD=EMAIL_PASSWORD:latest,INTERNAL_SERVICE_API_KEY=INTERNAL_SERVICE_API_KEY:latest,ACCESS_TOKEN_EXPIRE_MINUTES=ACCESS_TOKEN_EXPIRE_MINUTES:latest,ALGORITHM=ALGORITHM:latest --service-account userapi-service-account@${{ env.GCP_PROJECT_ID }}.iam.gserviceaccount.com
